:root  > * {
  --md-primary-bg-color:        #000000;
}
body {
  /* background:#FFF url(../assets/bg.jpg) repeat-x !important; */
  --md-primary-fg-color: #FFFFFF;
}
h2 {
  color:#ff7e00;
  font-weight:bold !important;
  padding:10px 0 0;
  line-height:1;
  margin:0 0 15px;
  border-bottom:1px solid #e7e7e7;
  position:relative;
}
h3 {
  color:#ff7e00;
  font-weight:bold !important;
  padding:10px 0 0;
  line-height:1;
  margin:0 0 15px;
  border-bottom:1px solid #e7e7e7;
  position:relative;
}
.md-header {
  background-color: white;
  color: #00b5cc;
}
.md-header__title {
  height: 4rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.md-header__button.md-logo img {
  height: 3rem;
}
.md-header__button.md-logo svg {
  height: 3rem;
}
.mycomments {
  color: #c0c0c0;
  align: right;
  border: 1px solid #c0c0c0;
  width: 70%;
  margin-left: 25%;
  padding: 5px 10px 5px 10px;
}
.myfooter {
  display: flex;
}
.myfooterelt {
  flex: 1;
  flex-grow: 1;
  align-self: flex-end;
}
.myfooterelt:first-child {
  margin-top: 30px;
  margin-right: 20px;
}
.md-tabs__link {
  font-size:2em !important;
}
li {
  list-style: none !important;
  margin:5px 0 !important;
  padding-left:15px !important;
  background: url(../assets/square.png) 0 center no-repeat !important;
}
.md-footer {
  display: none;
}